* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.scontainer {
    display: flex;
}

.main-content {
    width:100%;
    background-color: #F8F8F8;
}

.sidebar {
    background: white;
    color: black;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.slogo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: black;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: orange;
    color: white;
    transition: all 0.5s;
}

.active {
    background: orange;
    color: #000;
}

.icon,
.link_text {
    font-size: 20px;
}
.title{
    margin:15px;
    font-weight: bolder;
    
}
.separator {
    width: 80%;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;
    border: none;
    height: 1px; 
    background-color:dimgrey;
}